In [44]:
import pandas as pd

In [45]:
csv_file_url = "https://raw.githubusercontent.com/owid/notebooks/main/JoeHasell/Povcal_data_work/Poverty_and_inequality_measures_from_PovCal_2021.csv"

In [46]:
df = pd.read_csv('https://raw.githubusercontent.com/owid/notebooks/main/JoeHasell/Povcal_data_work/Poverty_and_inequality_measures_from_PovCal_2021.csv')

In [47]:
df.head()

,Entity,Year,$1.90 per day - share of population below poverty line,$1.90 per day - poverty gap index,$1.90 per day - total number of people below poverty line,$1.90 per day - absolute poverty gap,$3.20 per day - share of population below poverty line,$3.20 per day - poverty gap index,$3.20 per day - total number of people below poverty line,$3.20 per day - absolute poverty gap,...,Decile 5 – average income or consumption,Decile 6 – average income or consumption,Decile 7 – average income or consumption,Decile 8 – average income or consumption,Decile 9 – average income or consumption,Decile 10 – average income or consumption,$1.00 per day - share of population below poverty line,$1.00 per day - poverty gap index,$1.00 per day - total number of people below poverty line,$1.00 per day - absolute poverty gap
0,Albania,1981,0.464528,0.000846,12663.29,4.622100,7.623522,0.013227,207821.48,75.854840,...,6.082442,6.790125,7.853463,9.051080,10.814843,15.402078,0.057416,0.000069,1565.19,0.571293
1,Albania,1982,0.407918,0.000816,11357.58,4.145518,7.410390,0.012735,206325.86,75.308938,...,6.130848,6.844163,7.915964,9.123112,10.900912,15.524654,0.057416,0.000065,1598.62,0.583495
2,Albania,1983,0.464528,0.000854,13210.98,4.822009,7.623522,0.013371,216809.92,79.135619,...,6.068509,6.774571,7.835474,9.030348,10.790071,15.366798,0.057416,0.000071,1632.88,0.596002
3,Albania,1984,0.534846,0.000987,15534.22,5.669991,8.790304,0.015602,255308.14,93.187471,...,5.867792,6.550500,7.576313,8.731666,10.433186,14.858537,0.057416,0.000087,1667.60,0.608675
4,Albania,1985,0.534846,0.001000,15856.91,5.787773,8.855139,0.015814,262533.80,95.824836,...,5.850741,6.531465,7.554298,8.706293,10.402868,14.815360,0.057416,0.000089,1702.24,0.621318

In [48]:
df_2017 = df.loc[df.Year == 2017]

In [49]:
df_2017.head()

,Entity,Year,$1.90 per day - share of population below poverty line,$1.90 per day - poverty gap index,$1.90 per day - total number of people below poverty line,$1.90 per day - absolute poverty gap,$3.20 per day - share of population below poverty line,$3.20 per day - poverty gap index,$3.20 per day - total number of people below poverty line,$3.20 per day - absolute poverty gap,...,Decile 5 – average income or consumption,Decile 6 – average income or consumption,Decile 7 – average income or consumption,Decile 8 – average income or consumption,Decile 9 – average income or consumption,Decile 10 – average income or consumption,$1.00 per day - share of population below poverty line,$1.00 per day - poverty gap index,$1.00 per day - total number of people below poverty line,$1.00 per day - absolute poverty gap
36,Albania,2017,1.266547,0.001935,36393.68,13.283694,8.189585,0.017827,235324.20,85.893334,...,6.545282,7.666863,9.089712,10.931756,13.746468,21.321229,0.000000,0.000000,0.00,0.000000
75,Algeria,2017,0.329316,0.001254,136301.21,49.749942,2.323713,0.004917,961766.17,351.044654,...,7.500135,8.404083,9.458235,10.832820,13.072209,20.809938,0.090970,0.000729,37651.93,13.742953
114,Angola,2017,45.069260,0.195752,13438187.68,4904.938503,68.034330,0.350932,20285624.73,7404.253026,...,NaN,NaN,NaN,NaN,NaN,NaN,20.254290,0.069902,6039170.61,2204.297272
153,Argentina (Urban),2017,0.928490,0.002923,375209.23,136.951368,3.181663,0.009948,1285731.46,469.291984,...,14.480729,17.686371,21.531053,26.668433,34.959245,62.024468,0.206965,0.001507,83635.91,30.527108
192,Armenia,2017,0.880793,0.001405,25937.68,9.467252,8.096853,0.016339,238436.86,87.029452,...,5.745936,6.507594,7.401714,8.725566,10.804916,21.848572,0.024049,0.000021,708.18,0.258487

In [50]:
df.Entity.unique().tolist()

['Albania',
 'Algeria',
 'Angola',
 'Argentina (Urban)',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'China (Rural)',
 'China (Urban)',
 'Colombia',
 'Comoros',
 'Congo',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cyprus',
 'Czechia',
 'Democratic Republic of Congo',
 'Denmark',
 'Djibouti',
 'Dominican Republic',
 'East Asia and Pacific',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Europe and Central Asia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'India (Rural)',
 'India (Urban)',
 'Indonesia',
 'Indonesia (Rural)',
 'Indonesia (Urban)',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kyrgyzstan',
 'Laos',
 'Latin America and the Caribbean',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia (country)',
 'Middle East and North Africa',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Other high Income (World Bank)',
 'Pakistan',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Lucia',
 'Samoa',
 'Sao Tome and Principe',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Asia',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sub-Saharan Africa',
 'Sudan',
 'Suriname',
 'Suriname (Urban)',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'World',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [51]:
exclude_list = ['China (Rural)','China (Urban)','East Asia and Pacific','Europe and Central Asia','India (Rural)','India (Urban)','Indonesia (Rural)','Indonesia (Urban)','Latin America and the Caribbean','Middle East and North Africa','Other high Income (World Bank)','South Asia','Sub-Saharan Africa','Suriname (Urban)','World']

In [52]:
df_2017_countries = df_2017[~df_2017["Entity"].isin(exclude_list)]

In [53]:
df_2017_countries.head()

,Entity,Year,$1.90 per day - share of population below poverty line,$1.90 per day - poverty gap index,$1.90 per day - total number of people below poverty line,$1.90 per day - absolute poverty gap,$3.20 per day - share of population below poverty line,$3.20 per day - poverty gap index,$3.20 per day - total number of people below poverty line,$3.20 per day - absolute poverty gap,...,Decile 5 – average income or consumption,Decile 6 – average income or consumption,Decile 7 – average income or consumption,Decile 8 – average income or consumption,Decile 9 – average income or consumption,Decile 10 – average income or consumption,$1.00 per day - share of population below poverty line,$1.00 per day - poverty gap index,$1.00 per day - total number of people below poverty line,$1.00 per day - absolute poverty gap
36,Albania,2017,1.266547,0.001935,36393.68,13.283694,8.189585,0.017827,235324.20,85.893334,...,6.545282,7.666863,9.089712,10.931756,13.746468,21.321229,0.000000,0.000000,0.00,0.000000
75,Algeria,2017,0.329316,0.001254,136301.21,49.749942,2.323713,0.004917,961766.17,351.044654,...,7.500135,8.404083,9.458235,10.832820,13.072209,20.809938,0.090970,0.000729,37651.93,13.742953
114,Angola,2017,45.069260,0.195752,13438187.68,4904.938503,68.034330,0.350932,20285624.73,7404.253026,...,NaN,NaN,NaN,NaN,NaN,NaN,20.254290,0.069902,6039170.61,2204.297272
153,Argentina (Urban),2017,0.928490,0.002923,375209.23,136.951368,3.181663,0.009948,1285731.46,469.291984,...,14.480729,17.686371,21.531053,26.668433,34.959245,62.024468,0.206965,0.001507,83635.91,30.527108
192,Armenia,2017,0.880793,0.001405,25937.68,9.467252,8.096853,0.016339,238436.86,87.029452,...,5.745936,6.507594,7.401714,8.725566,10.804916,21.848572,0.024049,0.000021,708.18,0.258487

In [54]:
df_2017_countries["threshold Above $30 per day"] = df_2017_countries["Population"] - df_2017_countries["$30.00 per day - total number of people below poverty line"]

/var/folders/x7/v_yg2r8j0q19373df27vt6nm0000gp/T/ipykernel_81963/2903881341.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017_countries["threshold Above $30 per day"] = df_2017_countries["Population"] - df_2017_countries["$30.00 per day - total number of people below poverty line"]

In [55]:
df_2017_countries["threshold $10 - $30 per day"] = df_2017_countries["$30.00 per day - total number of people below poverty line"] - df_2017_countries["$10.00 per day - total number of people below poverty line"]

/var/folders/x7/v_yg2r8j0q19373df27vt6nm0000gp/T/ipykernel_81963/3912326866.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017_countries["threshold $10 - $30 per day"] = df_2017_countries["$30.00 per day - total number of people below poverty line"] - df_2017_countries["$10.00 per day - total number of people below poverty line"]

In [56]:
df_2017_countries["threshold $1.90 - $10 per day"] = df_2017_countries["$10.00 per day - total number of people below poverty line"] - df_2017_countries["$1.90 per day - total number of people below poverty line"]

/var/folders/x7/v_yg2r8j0q19373df27vt6nm0000gp/T/ipykernel_81963/1327207698.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017_countries["threshold $1.90 - $10 per day"] = df_2017_countries["$10.00 per day - total number of people below poverty line"] - df_2017_countries["$1.90 per day - total number of people below poverty line"]

In [57]:
df_2017_countries["threshold below $1.90 per day"] = df_2017_countries["$1.90 per day - total number of people below poverty line"]

/var/folders/x7/v_yg2r8j0q19373df27vt6nm0000gp/T/ipykernel_81963/2142158082.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017_countries["threshold below $1.90 per day"] = df_2017_countries["$1.90 per day - total number of people below poverty line"]

In [58]:
df_2017_countries = df_2017_countries[['Entity', 'threshold below $1.90 per day', \
                                     "threshold $1.90 - $10 per day", "threshold $10 - $30 per day", "threshold Above $30 per day" ]]

In [59]:
df_2017_countries.head()

,Entity,threshold below $1.90 per day,threshold $1.90 - $10 per day,threshold $10 - $30 per day,threshold Above $30 per day
36,Albania,36393.68,1990457.55,824128.15,22477.62
75,Algeria,136301.21,28416471.62,12431998.90,404426.27
114,Angola,13438187.68,15246999.83,1022416.28,109144.21
153,Argentina (Urban),375209.23,11030731.79,20856373.17,8148359.81
192,Armenia,25937.68,2390126.74,493307.93,35436.65

In [60]:
df2 = pd.melt(df_2017_countries,id_vars=['Entity'],var_name='metric', value_name='value')
df2.head(n=600)

                   Entity                         metric        value
0                 Albania  threshold below $1.90 per day     36393.68
1                 Algeria  threshold below $1.90 per day    136301.21
2                  Angola  threshold below $1.90 per day  13438187.68
3       Argentina (Urban)  threshold below $1.90 per day    375209.23
4                 Armenia  threshold below $1.90 per day     25937.68
..                    ...                            ...          ...
595  Micronesia (country)    threshold Above $30 per day       455.86
596               Moldova    threshold Above $30 per day     18532.85
597              Mongolia    threshold Above $30 per day     40738.50
598            Montenegro    threshold Above $30 per day     59906.95
599               Morocco    threshold Above $30 per day   1544573.30

[600 rows x 3 columns]

In [61]:
df2.to_csv("povcal_number_at_different_thresholds_2007.csv")