In [77]:
import pandas as pd
import numpy as np

In [78]:
oils = pd.read_csv("inputs/oils.csv", encoding="latin1")

In [79]:
palm

           Entity  Year  palm_yield
0     Afghanistan  2010         NaN
1     Afghanistan  2011         NaN
2     Afghanistan  2012         NaN
3     Afghanistan  2013         NaN
4          Africa  1961    0.333496
...           ...   ...         ...
6356     Zimbabwe  2015         NaN
6357     Zimbabwe  2016         NaN
6358     Zimbabwe  2017         NaN
6359     Zimbabwe  2018         NaN
6360     Zimbabwe  2019         NaN

[6361 rows x 3 columns]

In [80]:
oils["palm_and_kernel_oil_production"] = oils["palm_production"] + oils["palm_kernel_production"]

In [81]:
oils["palm_oil_yield"] = oils["palm_and_kernel_oil_production"] / oils["palm_area"]
oils["sunflower_oil_yield"] = oils["sunflower_production"] / oils["sunflower_area"]
oils["rapeseed_oil_yield"] = oils["rapeseed_production"] / oils["rapeseed_area"]
oils["soybean_oil_yield"] = oils["soybean_production"] / oils["soybean_area"]
oils["olive_oil_yield"] = oils["olive_production"] / oils["olive_area"]
oils["coconut_oil_yield"] = oils["coconut_production"] / oils["coconut_area"]
oils["groundnut_oil_yield"] = oils["groundnut_production"] / oils["groundnut_area"]
oils["cottonseed_oil_yield"] = oils["cottonseed_production"] / oils["cottonseed_area"]
oils["sesame_oil_yield"] = oils["sesame_production"] / oils["sesame_area"]

In [82]:
oils["area_one_tonne_palm"] = 1 / oils["palm_oil_yield"]
oils["area_one_tonne_sunflower"] = 1 / oils["sunflower_oil_yield"]
oils["area_one_tonne_rapeseed"] = 1 / oils["rapeseed_oil_yield"]
oils["area_one_tonne_soybean"] = 1 / oils["soybean_oil_yield"]
oils["area_one_tonne_olive"] = 1 / oils["olive_oil_yield"]
oils["area_one_tonne_coconut"] = 1 / oils["coconut_oil_yield"]
oils["area_one_tonne_groundnut"] = 1 / oils["groundnut_oil_yield"]
oils["area_one_tonne_cottonseed"] = 1 / oils["cottonseed_oil_yield"]
oils["area_one_tonne_sesame"] = 1 / oils["sesame_oil_yield"]

In [83]:
## Global production of vegetable oils in 2020 was 225.67 million tonnes
## Calculate area needed to produce all of this from one type of oilcrop
oils["area_global_demand_palm"] = 225.67E6 / oils["palm_oil_yield"]
oils["area_global_demand_sunflower"] = 225.67E6 / oils["sunflower_oil_yield"]
oils["area_global_demand_rapeseed"] = 225.67E6 / oils["rapeseed_oil_yield"]
oils["area_global_demand_soybean"] = 225.67E6 / oils["soybean_oil_yield"]
oils["area_global_demand_olive"] = 225.67E6 / oils["olive_oil_yield"]
oils["area_global_demand_coconut"] = 225.67E6 / oils["coconut_oil_yield"]
oils["area_global_demand_groundnut"] = 225.67E6 / oils["groundnut_oil_yield"]
oils["area_global_demand_cottonseed"] = 225.67E6 / oils["cottonseed_oil_yield"]
oils["area_global_demand_sesame"] = 225.67E6 / oils["sesame_oil_yield"]

In [84]:
oils = oils.drop(columns=["palm_production",
                          "palm_kernel_production",
                          "palm_area",
                          "palm_and_kernel_oil_production",
                          "sunflower_production",
                          "sunflower_area",
                          "rapeseed_production",
                          "rapeseed_area",
                          "soybean_production",
                          "soybean_area",
                          "olive_production",
                          "olive_area",
                          "coconut_production",
                          "coconut_area",
                          "groundnut_production",
                          "groundnut_area",
                          "cottonseed_production",
                          "cottonseed_area",
                          "sesame_production",
                          "sesame_area"
                         ]
                )

In [85]:
oils = oils.replace([np.inf, -np.inf], np.nan, inplace=False)

In [86]:
oils.to_csv("output/Vegetable oil yields (FAO).csv", index=False)