In [144]:
import requests
from datetime import date, timedelta
import pdfplumber
import pandas as pd

In [145]:
def download_latest_wild_polio(days_to_sub:int):
    day = date.today() - timedelta(days = days_to_sub)
    wild_polio_date = day.strftime("%Y%m%d")
    url = f"http://polioeradication.org/wp-content/uploads/2022/03/weekly-polio-analyses-WPV-{wild_polio_date}.pdf"
    res = requests.get(url)
    return(res)

Find the latest file by trying to download a file from today, today -1, today-2, until a file exists (res.ok = True).

In [146]:
i = 0
download_available = False
while not download_available:    
    res = download_latest_wild_polio(days_to_sub = i)
    if res.ok:
        download_available = True
    else:
        i +=1

with open('data/polio_wild_cases.pdf', 'wb') as f:
    f.write(res.content)

In [147]:

pdf = pdfplumber.open('data/polio_wild_cases.pdf')
table = pdf.pages[0].extract_table()
df = pd.DataFrame(table)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,Country or territory3,Wild virus type 1 confirmed cases Wild virus t...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,None,Full year total,None,None,None,None,None,01 Jan-15 Mar1,None,Date of most \nrecent case,Full year total,None,None,None,None,None,1 Jan-15 Mar1,Date of most \nrecent virus,None,None
2,None,2016,2017,2018,2019,2020,2021,2021,2022,None,2016,2017,2018,2019,2020,2021,2022,None,None,None
3,Pakistan,20,8,12,147,84,1,1,0,27-Jan-21,62,110,141,405,455,65,0,06-Dec-21,,
4,Afghanistan,13,14,21,29,56,4,1,1,14-Jan-22,2,42,83,60,49,1,0,23-Feb-21,None,None
5,Malawi,0,0,0,0,0,1,0,0,19-Nov-21,,,,,,,,,,
6,Nigeria3,4,0,0,0,0,0,0,0,21-Aug-16,14,,,,,,,27-Sep-16,,
7,Iran,0,0,0,0,0,0,0,0,NA,,,,3,,,,20-May-19,None,None
8,Total (Type1),37,22,33,176,140,6,2,1,,65,152,224,468,504,66,0,,None,None
9,Tot. in endemic countries,37,22,33,176,140,5,2,1,,,,,,,,,,None,None
10,Tot. in non-end countries,0,0,0,0,0,1,0,0,,,,,,,,,,None,None
11,No. of countries (infected),3,2,2,2,2,3,2,1,,,,,,,,,,None,None
12,No. of countries (endemic),23,23,3,3,3,2,2,2,,,,,,,,,,None,None
13,Total Female,13,7,18,72,59,2,0,1,,,,,,,,,,None,None
14,Total Male,24,15,15,104,81,4,2,0,,,,,,,,,,None,None
15,Countries in yellow are endemic.,1Data reported to WHO HQ on 16 Mar. 2021 for 2...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
16,"2Wild viruses from environmental samples, sele...",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
17,,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [148]:
df.columns = df.iloc[2]
df.drop([0, 1,2], inplace=True)

df

2,NaN,2016,2017,2018,2019,2020,2021,2021,2022,NaN,2016,2017,2018,2019,2020,2021,2022,NaN,NaN,NaN
3,Pakistan,20,8,12,147,84,1,1,0,27-Jan-21,62,110,141,405,455,65,0,06-Dec-21,,
4,Afghanistan,13,14,21,29,56,4,1,1,14-Jan-22,2,42,83,60,49,1,0,23-Feb-21,None,None
5,Malawi,0,0,0,0,0,1,0,0,19-Nov-21,,,,,,,,,,
6,Nigeria3,4,0,0,0,0,0,0,0,21-Aug-16,14,,,,,,,27-Sep-16,,
7,Iran,0,0,0,0,0,0,0,0,NA,,,,3,,,,20-May-19,None,None
8,Total (Type1),37,22,33,176,140,6,2,1,,65,152,224,468,504,66,0,,None,None
9,Tot. in endemic countries,37,22,33,176,140,5,2,1,,,,,,,,,,None,None
10,Tot. in non-end countries,0,0,0,0,0,1,0,0,,,,,,,,,,None,None
11,No. of countries (infected),3,2,2,2,2,3,2,1,,,,,,,,,,None,None
12,No. of countries (endemic),23,23,3,3,3,2,2,2,,,,,,,,,,None,None
13,Total Female,13,7,18,72,59,2,0,1,,,,,,,,,,None,None
14,Total Male,24,15,15,104,81,4,2,0,,,,,,,,,,None,None
15,Countries in yellow are endemic.,1Data reported to WHO HQ on 16 Mar. 2021 for 2...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
16,"2Wild viruses from environmental samples, sele...",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
17,,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [152]:
col_lim = date.today().year - 2015
df = df.iloc[:,0:col_lim]
df.rename(columns ={None:'entity'}, inplace = True)

'Total (Type1)'

In [155]:
dfe = df.set_index('entity')
df_sel = dfe.loc[:'Total (Type1)']
df_sel = df_sel.reset_index(level=0)
df_sel

2         entity 2016 2017 2018 2019 2020 2021
0       Pakistan   20    8   12  147   84    1
1    Afghanistan   13   14   21   29   56    4
2         Malawi    0    0    0    0    0    1
3       Nigeria3    4    0    0    0    0    0
4           Iran    0    0    0    0    0    0
5  Total (Type1)   37   22   33  176  140    6

In [160]:
pd.wide_to_long(df_sel, [2016], i="entity", j="year")

IndexError: list index out of range

In [ ]:
df_cases = pd.melt(df_sel, id_vars=['entity'], value_vars=[range(2016,col_lim)])

df_cases.columns = ['entity', 'year', 'wild_polio_1_cases']