In [489]:
from functools import reduce
import pandas as pd
import datetime
from polio_utils import download_polio_data, extract_wild_cases, extract_vd_cases, owid_population, standardise_countries

Download and extract the data from the latest wild polio virus pdf from polioeradication.org

In [490]:
res = download_polio_data(url_stub='https://polioeradication.org/wp-content/uploads/2022/03/weekly-polio-analyses-WPV-')
date = datetime.date.today().strftime("%Y-%m-%d")
fp = f"data/polio_wild_cases_{date}.pdf"

with open(fp, 'wb') as f:
    f.write(res.content)

wt_df = extract_wild_cases(file_path = fp)

Calculate wild polio cases per million population

In [507]:
population = owid_population()
wt_df['entity'] = standardise_countries(wt_df['entity'])
wt_df['year'] = wt_df['year'].astype(int)
wt_df['wild_polio_1_cases'] = wt_df['wild_polio_1_cases'].astype(int)

wt_pop = pd.DataFrame(pd.merge(left = population, right = wt_df, how="right"))
wt_pop['wild_polio_1_cases_per_million'] = (wt_pop['wild_polio_1_cases']/wt_pop['population']) * 1000000
wt_pop['wild_polio_1_cases_per_million'] = wt_pop['wild_polio_1_cases_per_million'].fillna(0).round(decimals=3)

wt_pop.head()

,entity,year,population,wild_polio_1_cases,wild_polio_1_cases_per_million
0,Pakistan,2016,203631360,20,0.098
1,Afghanistan,2016,35383028,13,0.367
2,Malawi,2016,17205254,0,0.000
3,Nigeria,2016,185960256,4,0.022
4,Iran,2016,79563992,0,0.000

Download and extract the data from the latest vaccine derived polio cases pdf from polio eradication.org

In [508]:
res = download_polio_data(url_stub='http://polioeradication.org/wp-content/uploads/2022/03/weekly-polio-analyses-cVDPV-')
date = datetime.date.today().strftime("%Y-%m-%d")
fp = f"data/polio_vaccine_derived_cases_{date}.pdf"

with open(fp, 'wb') as f:
    f.write(res.content)

vd_df = extract_vd_cases(file_path = fp)

Calculate cases per million population

In [510]:
population = owid_population()
vd_df['entity'] = standardise_countries(vd_df['entity'])
vd_df['year'] = vd_df['year'].astype(int)

vd_pop = pd.DataFrame(pd.merge(left = population, right = vd_df, how="right"))
vd_pop['cVDPV1_per_million'] = (vd_pop['cVDPV1']/vd_pop['population']) * 1000000
vd_pop['cVDPV2_per_million'] = (vd_pop['cVDPV2']/vd_pop['population']) * 1000000
vd_pop['cVDPV3_per_million'] = (vd_pop['cVDPV3']/vd_pop['population']) * 1000000
vd_pop['total_cVDPV_per_million'] = (vd_pop['total_cVDPV']/vd_pop['population']) * 1000000

vd_pop.head()

,entity,year,population,cVDPV1,cVDPV2,cVDPV3,total_cVDPV,cVDPV1_per_million,cVDPV2_per_million,cVDPV3_per_million,total_cVDPV_per_million
0,Afghanistan,2020,38928340,0.0,308.0,0.0,308.0,0.0,7.911974,0.0,7.911974
1,Afghanistan,2021,39835428,0.0,43.0,0.0,43.0,0.0,1.079441,0.0,1.079441
2,Angola,2019,31825298,0.0,138.0,0.0,138.0,0.0,4.336173,0.0,4.336173
3,Angola,2020,32866270,0.0,3.0,0.0,3.0,0.0,0.091279,0.0,0.091279
4,Benin,2019,11801151,0.0,8.0,0.0,8.0,0.0,0.677900,0.0,0.677900

Combine the Wild and Vaccine Derived cases

In [511]:
polio_dataframes = [wt_pop, vd_pop]

polio_df = reduce(
        lambda left, right: pd.merge(left, right, on=["entity", "year", "population"], how="outer"),
        polio_dataframes,
    )
polio_df = polio_df.drop(columns = ['population'])

Combine cases for entities where strains are currently recorded on different rows, just Total I think.

In [513]:
polio_df = polio_df.groupby(['entity', 'year']).sum()
polio_df = polio_df.reset_index()
polio_df.head()

,entity,year,wild_polio_1_cases,wild_polio_1_cases_per_million,cVDPV1,cVDPV2,cVDPV3,total_cVDPV,cVDPV1_per_million,cVDPV2_per_million,cVDPV3_per_million,total_cVDPV_per_million
0,Afghanistan,2016,13.0,0.367,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
1,Afghanistan,2017,14.0,0.386,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
2,Afghanistan,2018,21.0,0.565,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
3,Afghanistan,2019,29.0,0.762,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
4,Afghanistan,2020,56.0,1.439,0.0,308.0,0.0,308.0,0.0,7.911974,0.0,7.911974

Add columns for: total polio = wild + vaccine derived

In [514]:
polio_df['total_polio'] = polio_df['wild_polio_1_cases'] + polio_df['total_cVDPV']
polio_df['total_polio_per_million'] = polio_df['wild_polio_1_cases_per_million'] + polio_df['total_cVDPV_per_million']
polio_df[['total_polio','total_polio_per_million']] = polio_df[['total_polio','total_polio_per_million']].fillna(0)

Data from 1980 onwards from WHO - download from http://www.who.int/entity/immunization/monitoring_surveillance/data/incidence_series.xls?ua=1

In [515]:
who_polio = pd.read_excel('data/incidence_series.xls', sheet_name='Polio')
who_polio

,WHO_REGION,ISO_code,Cname,Disease,2019,2018,2017,2016,2015,2014,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,EMR,AFG,Afghanistan,polio,0.0,0.0,0.0,13.0,20.0,28.0,...,55.0,307.0,628.0,1843.0,1981.0,552.0,1991.0,1390.0,837.0,880.0
1,EUR,ALB,Albania,polio,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
2,AFR,DZA,Algeria,polio,0.0,0.0,0.0,0.0,0.0,0.0,...,18.0,9.0,35.0,29.0,66.0,108.0,132.0,71.0,114.0,116.0
3,EUR,AND,Andorra,polio,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFR,AGO,Angola,polio,138.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,15.0,37.0,14.0,3.0,0.0,6.0,12.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,AMR,VEN,Venezuela (Bolivarian Republic of),polio,0.0,0.0,0.0,0.0,0.0,0.0,...,16.0,17.0,46.0,27.0,8.0,9.0,9.0,30.0,68.0,11.0
190,WPR,VNM,Viet Nam,polio,NaN,NaN,0.0,0.0,0.0,0.0,...,427.0,839.0,1449.0,938.0,1600.0,1158.0,1109.0,897.0,644.0,1741.0
191,EMR,YEM,Yemen,polio,1.0,0.0,0.0,0.0,0.0,0.0,...,701.0,114.0,179.0,601.0,336.0,767.0,633.0,235.0,541.0,722.0
192,AFR,ZMB,Zambia,polio,2.0,0.0,0.0,0.0,0.0,0.0,...,47.0,85.0,69.0,134.0,128.0,177.0,182.0,243.0,429.0,276.0
193,AFR,ZWE,Zimbabwe,polio,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,4.0,5.0,92.0,69.0,4.0,3.0,9.0,28.0,32.0

Create a regions table to assign countries to WHO regions later on.

In [516]:
regions = who_polio[['WHO_REGION', 'Cname']].drop_duplicates().rename(columns = {'Cname':'entity'})
who_polio.drop(columns = ['Disease','WHO_REGION','ISO_code',], inplace=True)

Reformat the WHO data so it is long and can be joined to the data from Polio Eradication

In [499]:
who_df = pd.melt(who_polio, id_vars=['Cname'])
who_df['entity'] = standardise_countries(who_df['Cname'])
who_df = who_df[['entity', 'variable', 'value']].rename(columns = {'variable':'year', 'value':'total_polio'})
who_df[['year']]=who_df[['year']].astype(int)
who_df = who_df[who_df['year'] < 2016]

Calculate total polion cases per million

In [500]:
population = owid_population()
who_df = pd.DataFrame(pd.merge(left = population, right = who_df, how="right"))
who_df['total_polio_per_million'] = (who_df['total_polio']/who_df['population']) * 1000000
who_df.fillna(0)
who_df.drop(columns = "population", inplace = True)

Polio eradication only presents data for countries with recent polio cases, so we need to add 0 cases for the rest of the world. Create an empty dataframe for all countries for 2016 - latest year so that countries with zero cases are recorded as such, rather than as 0.

In [501]:
fill_df = pd.DataFrame([(x, y) for x in who_df['entity'].drop_duplicates() for y in range(2016,datetime.datetime.now().year)])
fill_df.rename(columns={0:'entity', 1:'year'},inplace=True)
fill_df['total_polio'] = None
fill_df['total_polio_per_million'] = None
who_df = who_df.append(pd.DataFrame(data = fill_df), ignore_index=True)

Combine the WHO polio data (1980-2015) with the Polio Eradication data (2016-)

In [502]:
total_df = polio_df.merge(who_df, on = ['entity', 'year', 'total_polio', 'total_polio_per_million'], how = "outer")

In [503]:
total_df[['total_polio', 'total_polio_per_million']] = total_df[['total_polio', 'total_polio_per_million']].fillna(0)

Summing cases for WHO regions and renaming WHO region abbreviations

In [504]:
regional_total = regions.merge(total_df,on = 'entity').groupby(['WHO_REGION', 'year']).sum().reset_index()
regional_total['WHO_REGION'].replace(['AFR', 'AMR', 'SEAR', 'EUR', 'EMR', 'WPR'], ['Africa', 'Americas', 'South-East Asia', 'Europe', 'Eastern Mediterranean', 'Western Pacific'], inplace = True)
regional_total.rename(columns = {'WHO_REGION':'entity'}, inplace = True)

Replacing NAs with 0s for the 'total_polio' columns - we can't do this for the strain/polio type columns as we don't know this.

In [505]:
total_df = pd.concat([regional_total, total_df])
total_df[['total_polio', 'total_polio_per_million']] = total_df[['total_polio', 'total_polio_per_million']].fillna(0)
total_df = total_df.fillna("")
total_df['total_polio_per_million']  = round(total_df['total_polio_per_million'],3)

In [506]:
total_df.to_csv('data/polio_cases_to_upload.csv', index=False)