In [1]:
from polio_utils import download_polio_data, extract_wild_cases, extract_vd_cases

Download and extract the data from the latest wild polio virus pdf

In [2]:
res = download_polio_data(url_stub='https://polioeradication.org/wp-content/uploads/2022/03/weekly-polio-analyses-WPV-')

with open('data/polio_wild_cases.pdf', 'wb') as f:
    f.write(res.content)

extract_wild_cases('data/polio_wild_cases.pdf')

           entity  year wild_polio_1_cases
0        Pakistan  2016                 20
1     Afghanistan  2016                 13
2          Malawi  2016                  0
3        Nigeria3  2016                  4
4            Iran  2016                  0
5   Total (Type1)  2016                 37
6        Pakistan  2017                  8
7     Afghanistan  2017                 14
8          Malawi  2017                  0
9        Nigeria3  2017                  0
10           Iran  2017                  0
11  Total (Type1)  2017                 22
12       Pakistan  2018                 12
13    Afghanistan  2018                 21
14         Malawi  2018                  0
15       Nigeria3  2018                  0
16           Iran  2018                  0
17  Total (Type1)  2018                 33
18       Pakistan  2019                147
19    Afghanistan  2019                 29
20         Malawi  2019                  0
21       Nigeria3  2019                  0
22           Iran  2019                  0
23  Total (Type1)  2019                176
24       Pakistan  2020                 84
25    Afghanistan  2020                 56
26         Malawi  2020                  0
27       Nigeria3  2020                  0
28           Iran  2020                  0
29  Total (Type1)  2020                140
30       Pakistan  2021                  1
31    Afghanistan  2021                  4
32         Malawi  2021                  1
33       Nigeria3  2021                  0
34           Iran  2021                  0
35  Total (Type1)  2021                  6

Download and extract the data from the latest vaccine derived polio cases pdf

In [4]:
res = download_polio_data(url_stub='http://polioeradication.org/wp-content/uploads/2022/03/weekly-polio-analyses-cVDPV-')

with open('data/polio_vaccine_derived_cases.pdf', 'wb') as f:
    f.write(res.content)

extract_vd_cases(file_path = 'data/polio_vaccine_derived_cases.pdf')

'pages' argument isn't specified.Will extract only from page 1 by default.

strain       entity variable  cVDPV1  cVDPV2  cVDPV3  total_cVDPV
0       Afghanistan     2020     NaN   308.0     NaN        308.0
1       Afghanistan     2021     NaN    43.0     NaN         43.0
2            Angola     2019     NaN   138.0     NaN        138.0
3            Angola     2020     NaN     3.0     NaN          3.0
4             Benin     2019     NaN     8.0     NaN          8.0
..              ...      ...     ...     ...     ...          ...
93          Ukraine     2021     NaN     2.0     NaN          2.0
94            Yemen     2019     1.0     NaN     NaN          1.0
95            Yemen     2020    31.0     NaN     NaN         31.0
96            Yemen     2021     3.0    13.0     NaN         16.0
97           Zambia     2019     NaN     2.0     NaN          2.0

[98 rows x 6 columns]