# Maddison Database Project

In [1]:
import pandas as pd
from pathlib import Path

#Loading MPD 2020
file = Path('data/mpd2020.xlsx')
mpd = pd.read_excel(file, sheet_name='Full data')

#Loading MPD 2020 - Regional data
file = Path('data/mpd2020.xlsx')
mpd_regional = pd.read_excel(file, sheet_name='Regional data', header=1)

#Loading Regional composition
file = Path('data/Regional composition_web.xlsx')
mpd_regionalcomp = pd.read_excel(file, sheet_name='Sheet2')

In [2]:
mpd

      countrycode      country  year      gdppc          pop
0             AFG  Afghanistan  1820        NaN   3280.00000
1             AFG  Afghanistan  1870        NaN   4207.00000
2             AFG  Afghanistan  1913        NaN   5730.00000
3             AFG  Afghanistan  1950  1156.0000   8150.00000
4             AFG  Afghanistan  1951  1170.0000   8284.00000
...           ...          ...   ...        ...          ...
21677         ZWE     Zimbabwe  2014  1594.0000  13313.99205
21678         ZWE     Zimbabwe  2015  1560.0000  13479.13812
21679         ZWE     Zimbabwe  2016  1534.0000  13664.79457
21680         ZWE     Zimbabwe  2017  1582.3662  13870.26413
21681         ZWE     Zimbabwe  2018  1611.4052  14096.61179

[21682 rows x 5 columns]

In [3]:
mpd_regional = mpd_regional.rename(columns={"Region": "Year"})
mpd_regional = mpd_regional.drop(index=0).reset_index(drop=True)
mpd_regional

,Year,Western Europe,Eastern Europe,Western Offshoots,Latin America,Asia (East),Asia (South and South-East),Middle East,Sub-Sahara Africa,Western Europe.1,...,Eastern Europe.1,Latin America.1,Asia (South and South-East).1,Asia (East).1,Middle East.1,Sub-Sahara Africa.1,World,World GDP pc,Unnamed: 19,Unnamed: 20
0,1820,2306.966690,818.000000,2513.045418,952.816821,1088.584951,929.000000,974.000000,800.000000,132371.000000,...,90785.000000,20099.000000,2.556950e+05,4.277570e+05,35600.000000,6.000000e+04,1.033538e+06,1101.565459,NaN,NaN
1,1830,2384.314573,942.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1840,2579.534884,907.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1850,2678.000000,985.000000,3474.410149,1080.657319,899.657658,929.000000,1000.000000,800.000000,165348.000000,...,117661.000000,29485.000000,2.787060e+05,4.557740e+05,42000.000000,6.500000e+04,1.180734e+06,1225.081067,NaN,NaN
4,1860,3034.000000,1358.000000,4214.440703,1588.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1870,3301.304919,1575.000000,4647.453901,1318.541091,989.477165,850.346572,1165.000000,800.000000,186566.000000,...,141626.000000,37692.000000,3.276920e+05,4.091530e+05,49839.000000,7.000000e+04,1.268656e+06,1497.982325,NaN,NaN
6,1880,3585.154363,1886.000000,6019.123928,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1890,4079.313847,2204.000000,6480.955612,1672.812962,NaN,950.999236,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1900,4724.295785,2700.000000,7740.850451,1750.626743,1086.328445,994.419007,1300.000000,850.000000,232433.000000,...,194693.000000,61004.000000,3.660600e+05,4.570580e+05,56000.000000,8.600000e+04,1.539644e+06,2212.043316,NaN,NaN
9,1910,5134.759064,2282.571503,9354.690921,2193.539665,NaN,1143.117595,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1920,4883.538885,1342.734619,9741.422761,2330.639937,1160.000000,1116.831831,900.000000,950.000000,256692.000000,...,229338.000000,84512.000000,5.141398e+05,5.439040e+05,71000.000000,1.050000e+05,1.926864e+06,2241.165411,NaN,NaN
11,1930,6409.105519,2463.720378,10297.123160,2700.039452,1272.979243,1299.239596,1600.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1940,7184.530575,3209.000000,11620.500978,3024.265427,1361.000000,1235.000000,2146.000000,1100.000000,289129.000000,...,288864.000000,121845.000000,5.221870e+05,6.147480e+05,90000.000000,1.520000e+05,2.231776e+06,3133.198324,NaN,NaN
13,1950,7263.261748,4082.103022,14773.221912,3712.964097,1121.667311,1069.714445,2393.029939,1322.685006,301577.000000,...,265982.000000,158927.000000,6.519800e+05,6.703310e+05,102743.000000,1.815720e+05,2.509569e+06,3350.566456,NaN,NaN
14,1960,10973.874165,5779.169988,17471.512338,4750.736102,1735.432309,1294.932202,3109.813332,1574.229862,323216.000000,...,311411.000000,209441.000000,7.943540e+05,8.102740e+05,133349.000000,2.264580e+05,3.020174e+06,4385.786356,NaN,NaN
15,1970,16161.444241,8241.357667,23209.653746,6285.808861,3042.225410,1545.880606,4800.608413,1957.639905,349109.000000,...,348243.000000,275318.000000,9.984830e+05,9.873810e+05,172904.000000,2.916120e+05,3.665340e+06,5951.549063,NaN,NaN
16,1980,20950.230506,9933.038923,28786.760778,8728.316651,4211.644181,1897.426374,6741.687051,2025.759925,363898.000000,...,380059.000000,349441.000000,1.257115e+06,1.176305e+06,228970.000000,3.818350e+05,4.407728e+06,7232.973298,NaN,NaN
17,1990,25440.035895,10343.873858,35619.375285,8132.156616,6121.290346,2573.680774,6435.131381,1800.776873,374235.000000,...,407200.000000,430366.000000,1.556990e+06,1.347902e+06,308972.000000,5.078280e+05,5.231786e+06,8222.478204,NaN,NaN
18,2000,32536.306120,8985.540175,44329.268173,10225.444998,8163.839420,3437.288256,9639.639086,1981.215666,387273.000000,...,406119.000000,505818.000000,1.881573e+06,1.483744e+06,378987.000000,6.584730e+05,6.038252e+06,9914.567730,NaN,NaN
19,2010,37318.373010,17021.288621,48090.150588,13452.816165,12853.430199,5366.591942,16716.334113,3155.574897,407475.000000,...,404195.000000,572946.000000,2.186133e+06,1.562593e+06,461061.000000,8.494430e+05,6.814168e+06,13179.495469,NaN,NaN
20,2016,38511.331744,19446.352353,51667.975829,14090.082543,15697.937012,6991.327459,18009.998781,3491.176564,418154.000000,...,406044.000000,609888.000000,2.355443e+06,1.606040e+06,515173.000000,9.873900e+05,7.287862e+06,14700.371742,NaN,NaN
21,2017,39256.529421,20115.829544,52597.218348,14086.941859,15956.377824,7306.074859,18403.515243,3524.229170,419338.107743,...,405992.821099,615860.083863,2.397370e+06,1.613534e+06,525118.132119,1.020642e+06,7.389585e+06,14944.093716,NaN,NaN
22,2018,39789.896664,20680.586806,53756.496545,14076.043898,16326.952792,7648.663835,18429.740281,3532.373274,420617.957430,...,406413.761548,620426.428985,2.426441e+06,1.618978e+06,534062.013422,1.047893e+06,7.469568e+06,15212.415062,NaN,NaN

In [4]:
mpd_regional

,Year,Western Europe,Eastern Europe,Western Offshoots,Latin America,Asia (East),Asia (South and South-East),Middle East,Sub-Sahara Africa,Western Europe.1,...,Eastern Europe.1,Latin America.1,Asia (South and South-East).1,Asia (East).1,Middle East.1,Sub-Sahara Africa.1,World,World GDP pc,Unnamed: 19,Unnamed: 20
0,1820,2306.966690,818.000000,2513.045418,952.816821,1088.584951,929.000000,974.000000,800.000000,132371.000000,...,90785.000000,20099.000000,2.556950e+05,4.277570e+05,35600.000000,6.000000e+04,1.033538e+06,1101.565459,NaN,NaN
1,1830,2384.314573,942.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1840,2579.534884,907.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1850,2678.000000,985.000000,3474.410149,1080.657319,899.657658,929.000000,1000.000000,800.000000,165348.000000,...,117661.000000,29485.000000,2.787060e+05,4.557740e+05,42000.000000,6.500000e+04,1.180734e+06,1225.081067,NaN,NaN
4,1860,3034.000000,1358.000000,4214.440703,1588.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1870,3301.304919,1575.000000,4647.453901,1318.541091,989.477165,850.346572,1165.000000,800.000000,186566.000000,...,141626.000000,37692.000000,3.276920e+05,4.091530e+05,49839.000000,7.000000e+04,1.268656e+06,1497.982325,NaN,NaN
6,1880,3585.154363,1886.000000,6019.123928,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1890,4079.313847,2204.000000,6480.955612,1672.812962,NaN,950.999236,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1900,4724.295785,2700.000000,7740.850451,1750.626743,1086.328445,994.419007,1300.000000,850.000000,232433.000000,...,194693.000000,61004.000000,3.660600e+05,4.570580e+05,56000.000000,8.600000e+04,1.539644e+06,2212.043316,NaN,NaN
9,1910,5134.759064,2282.571503,9354.690921,2193.539665,NaN,1143.117595,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1920,4883.538885,1342.734619,9741.422761,2330.639937,1160.000000,1116.831831,900.000000,950.000000,256692.000000,...,229338.000000,84512.000000,5.141398e+05,5.439040e+05,71000.000000,1.050000e+05,1.926864e+06,2241.165411,NaN,NaN
11,1930,6409.105519,2463.720378,10297.123160,2700.039452,1272.979243,1299.239596,1600.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1940,7184.530575,3209.000000,11620.500978,3024.265427,1361.000000,1235.000000,2146.000000,1100.000000,289129.000000,...,288864.000000,121845.000000,5.221870e+05,6.147480e+05,90000.000000,1.520000e+05,2.231776e+06,3133.198324,NaN,NaN
13,1950,7263.261748,4082.103022,14773.221912,3712.964097,1121.667311,1069.714445,2393.029939,1322.685006,301577.000000,...,265982.000000,158927.000000,6.519800e+05,6.703310e+05,102743.000000,1.815720e+05,2.509569e+06,3350.566456,NaN,NaN
14,1960,10973.874165,5779.169988,17471.512338,4750.736102,1735.432309,1294.932202,3109.813332,1574.229862,323216.000000,...,311411.000000,209441.000000,7.943540e+05,8.102740e+05,133349.000000,2.264580e+05,3.020174e+06,4385.786356,NaN,NaN
15,1970,16161.444241,8241.357667,23209.653746,6285.808861,3042.225410,1545.880606,4800.608413,1957.639905,349109.000000,...,348243.000000,275318.000000,9.984830e+05,9.873810e+05,172904.000000,2.916120e+05,3.665340e+06,5951.549063,NaN,NaN
16,1980,20950.230506,9933.038923,28786.760778,8728.316651,4211.644181,1897.426374,6741.687051,2025.759925,363898.000000,...,380059.000000,349441.000000,1.257115e+06,1.176305e+06,228970.000000,3.818350e+05,4.407728e+06,7232.973298,NaN,NaN
17,1990,25440.035895,10343.873858,35619.375285,8132.156616,6121.290346,2573.680774,6435.131381,1800.776873,374235.000000,...,407200.000000,430366.000000,1.556990e+06,1.347902e+06,308972.000000,5.078280e+05,5.231786e+06,8222.478204,NaN,NaN
18,2000,32536.306120,8985.540175,44329.268173,10225.444998,8163.839420,3437.288256,9639.639086,1981.215666,387273.000000,...,406119.000000,505818.000000,1.881573e+06,1.483744e+06,378987.000000,6.584730e+05,6.038252e+06,9914.567730,NaN,NaN
19,2010,37318.373010,17021.288621,48090.150588,13452.816165,12853.430199,5366.591942,16716.334113,3155.574897,407475.000000,...,404195.000000,572946.000000,2.186133e+06,1.562593e+06,461061.000000,8.494430e+05,6.814168e+06,13179.495469,NaN,NaN
20,2016,38511.331744,19446.352353,51667.975829,14090.082543,15697.937012,6991.327459,18009.998781,3491.176564,418154.000000,...,406044.000000,609888.000000,2.355443e+06,1.606040e+06,515173.000000,9.873900e+05,7.287862e+06,14700.371742,NaN,NaN
21,2017,39256.529421,20115.829544,52597.218348,14086.941859,15956.377824,7306.074859,18403.515243,3524.229170,419338.107743,...,405992.821099,615860.083863,2.397370e+06,1.613534e+06,525118.132119,1.020642e+06,7.389585e+06,14944.093716,NaN,NaN
22,2018,39789.896664,20680.586806,53756.496545,14076.043898,16326.952792,7648.663835,18429.740281,3532.373274,420617.957430,...,406413.761548,620426.428985,2.426441e+06,1.618978e+06,534062.013422,1.047893e+06,7.469568e+06,15212.415062,NaN,NaN

In [5]:
mpd_regionalcomp

    country  year              region
0       ITA  1820      Western Europe
1       NLD  1820      Western Europe
2       PRT  1820      Western Europe
3       SWE  1820      Western Europe
4       GBR  1820      Western Europe
..      ...   ...                 ...
299     ZWE  1950  Sub Saharan Africa
300     AUS  1950   Western Offshoots
301     CAN  1950   Western Offshoots
302     NZL  1950   Western Offshoots
303     USA  1950   Western Offshoots

[304 rows x 3 columns]

In [6]:
mpd_regionalcomp1950 = mpd_regionalcomp[mpd_regionalcomp['year'] == 1950].copy().reset_index(drop=True)
mpd_regionalcomp1950

    country  year              region
0       AUT  1950      Western Europe
1       BEL  1950      Western Europe
2       DNK  1950      Western Europe
3       FIN  1950      Western Europe
4       FRA  1950      Western Europe
..      ...   ...                 ...
130     ZWE  1950  Sub Saharan Africa
131     AUS  1950   Western Offshoots
132     CAN  1950   Western Offshoots
133     NZL  1950   Western Offshoots
134     USA  1950   Western Offshoots

[135 rows x 3 columns]

In [7]:
mpd_withregions = pd.merge(mpd, mpd_regionalcomp1950[['country','region']], left_on=['countrycode'], right_on=['country'], how='left', validate='many_to_many')
mpd_withregions

,countrycode,country_x,year,gdppc,pop,country_y,region
0,AFG,Afghanistan,1820,NaN,3280.00000,AFG,South and South East Asia
1,AFG,Afghanistan,1870,NaN,4207.00000,AFG,South and South East Asia
2,AFG,Afghanistan,1913,NaN,5730.00000,AFG,South and South East Asia
3,AFG,Afghanistan,1950,1156.0000,8150.00000,AFG,South and South East Asia
4,AFG,Afghanistan,1951,1170.0000,8284.00000,AFG,South and South East Asia
...,...,...,...,...,...,...,...
21791,ZWE,Zimbabwe,2014,1594.0000,13313.99205,ZWE,Sub Saharan Africa
21792,ZWE,Zimbabwe,2015,1560.0000,13479.13812,ZWE,Sub Saharan Africa
21793,ZWE,Zimbabwe,2016,1534.0000,13664.79457,ZWE,Sub Saharan Africa
21794,ZWE,Zimbabwe,2017,1582.3662,13870.26413,ZWE,Sub Saharan Africa
21795,ZWE,Zimbabwe,2018,1611.4052,14096.61179,ZWE,Sub Saharan Africa

In [14]:
mpd_nullregions = mpd_withregions[mpd_withregions['region'].isnull()].copy().reset_index(drop=True)
mpd_nullregions

,countrycode,country_x,year,gdppc,pop,country_y,region
0,ALB,Albania,1,NaN,200.00000,NaN,NaN
1,ALB,Albania,1000,NaN,200.00000,NaN,NaN
2,ALB,Albania,1500,NaN,200.00000,NaN,NaN
3,ALB,Albania,1600,NaN,200.00000,NaN,NaN
4,ALB,Albania,1700,NaN,300.00000,NaN,NaN
...,...,...,...,...,...,...,...
2730,YUG,Former Yugoslavia,2014,14627.0000,21946.00000,NaN,NaN
2731,YUG,Former Yugoslavia,2015,14971.0000,21882.00000,NaN,NaN
2732,YUG,Former Yugoslavia,2016,15416.0000,21817.00000,NaN,NaN
2733,YUG,Former Yugoslavia,2017,15960.8432,21481.76458,NaN,NaN
2734,YUG,Former Yugoslavia,2018,16558.3123,21423.56524,NaN,NaN

In [13]:
mpd_nullregions['country_x'].unique()

array(['Albania', 'Armenia', 'Azerbaijan', 'Bangladesh',
       'Bosnia and Herzegovina', 'Belarus', "CÃ´te d'Ivoire", 'Cyprus',
       'Czech Republic', 'Estonia', 'Gabon', 'Georgia', 'Gambia',
       'Croatia', 'Ireland', 'Kazakhstan', 'Kyrgyzstan', 'Lithuania',
       'Latvia', 'Republic of Moldova', 'TFYR of Macedonia', 'Malta',
       'Montenegro', 'D.P.R. of Korea', 'State of Palestine',
       'Russian Federation', 'Serbia', 'Former USSR', 'Slovakia',
       'Slovenia', 'Tajikistan', 'Turkmenistan', 'Ukraine', 'Uzbekistan',
       'Former Yugoslavia'], dtype=object)

In [15]:
len(mpd_nullregions['country_x'].unique())

35