In [1]:
import pandas as pd
import gzip

In [2]:
df = pd.read_csv(gzip.open('data/manipulation/combined_and_tidied_geolocated_data.csv.gz', 'rb'))
df.tail()

,relid,year,geom_wkt,longitude,latitude,type_of_violence,best,low_amend,high_amend,conflict_new_id,country,country_id,region
280250,YEM-2022-2-14596-0,2022,POINT (45.41379 15.54686),45.413790,15.546860,2,4,4,5,13587,Yemen (North Yemen),678,Middle East
280251,YEM-2022-3-15781-1,2022,POINT (44.987222 12.889167),44.987222,12.889167,3,1,1,1,14511,Yemen (North Yemen),678,Middle East
280252,YEM-2022-2-15915-1,2022,POINT (47 15),47.000000,15.000000,2,2,2,2,14623,Yemen (North Yemen),678,Middle East
280253,YEM-2022-2-17014-0,2022,POINT (44.583332 13.166667),44.583332,13.166667,2,1,1,1,15505,Yemen (North Yemen),678,Middle East
280254,ZIM-2022-2-2-XXX552-0,2022,POINT (29.814863 -18.928095),29.814863,-18.928095,2,1,1,1,173,Zimbabwe (Rhodesia),552,Africa

Aggregate by country and year