In [1]:
import pandas as pd
import gzip

Read in the UCDP data with Natural Earth country mapping

In [4]:
gz_file = gzip.open('data/manipulation/ucdp_with_country.csv.gz', 'rb')

df = pd.read_csv(gz_file)
df.tail()

/usr/local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (8,11,14,17,49,55) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,index,data_source,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,...,best,high,low,gwnoa,gwnob,high_amend,low_amend,OWID_country_name,method,flag
280250,1683,candidate_monthly,432843,NIG-2022-2-2-XXX475-9,2022,0,Check dyad,2,2-XXX475,119,...,2,2,2,NaN,NaN,2,2,Nigeria,Nearest,NaN
280251,1684,candidate_monthly,429461,UKR-2022-1-14117-20,2022,1,Check deaths,1,13243,13243,...,0,13,0,369.0,369.0,13,0,Ukraine,Nearest,NaN
280252,1685,candidate_monthly,430417,UKR-2022-1-14117-99,2022,1,Clear,1,13243,13243,...,2,2,2,369.0,369.0,2,2,Ukraine,Nearest,NaN
280253,1686,candidate_monthly,429506,UKR-2022-1-14117-32,2022,1,Clear,1,13243,13243,...,2,2,2,369.0,369.0,2,2,Ukraine,Nearest,NaN
280254,1687,candidate_monthly,430097,UKR-2022-1-14117-62.2,2022,1,Clear,1,13243,13243,...,4,4,4,369.0,369.0,4,4,Ukraine,Nearest,NaN

Save list of entities to run through OWID country mapping tool

In [3]:
natural_earth_countries = df.natural_earth_country_name.unique()

AttributeError: 'DataFrame' object has no attribute 'natural_earth_country_name'