# Poverty and inequality datasets from PIP, WID and LIS

In [514]:
import pandas as pd
import numpy as np
from pathlib import Path
import plotly.express as px
import plotly.io as pio
import time

In [44]:
start_time = time.time()

country = "all" #ISO3 codes
year = "all" #YYYY
povline = 1.9 #Number, dollars
formatfile = "csv" #json, csv, rds
fill_gaps = "true" #Interpolate/extrapolate, boolean
welfare_type = "all" #Welfare measure: all, consumption, income
reporting_level = "all" #Reporting coverage: all, national, rural, urban
#popshare = 0.1 #Proportion of the population living below the poverty line. Will be ignored if povline is specified

#version #pip/v1/versions defaults to most recent version

pip_path = "https://api.worldbank.org/pip/v1/pip?" + "country=" + country + "&year=" + year + "&povline=" + str(povline) + "&format=" + formatfile + "&fill_gaps=" + fill_gaps + "&welfare_type=" + welfare_type + "&reporting_level=" + reporting_level #+ "&popshare=" + str(popshare)
#pip_path = "https://api.worldbank.org/pip/v1/pip?country=all&year=all&povline=1.9&format=csv&fill_gaps=true" #orignal version

pip = pd.read_csv(pip_path)
#pip['pl_check'] = pip['poverty_line'] == povline

print("--- %s seconds ---" % (time.time() - start_time)) #Printing the running time

--- 2.566288709640503 seconds ---

In [45]:
pip

,region_name,region_code,country_name,country_code,reporting_year,reporting_level,survey_acronym,survey_coverage,survey_year,welfare_type,...,decile9,decile10,cpi,ppp,reporting_pop,reporting_gdp,reporting_pce,is_interpolated,distribution_type,estimation_type
0,East Asia and Pacific,EAP,China,CHN,1981,rural,NaN,NaN,NaN,income,...,0.141663,0.205191,NaN,3.039222,7.939352e+08,447.118997,NaN,False,aggregate,survey
1,East Asia and Pacific,EAP,China,CHN,1982,rural,NaN,NaN,NaN,income,...,NaN,NaN,NaN,3.039222,7.978062e+08,480.310474,NaN,True,aggregate,interpolation
2,East Asia and Pacific,EAP,China,CHN,1983,rural,NaN,NaN,NaN,income,...,NaN,NaN,NaN,3.039222,8.028379e+08,524.408437,NaN,True,aggregate,interpolation
3,East Asia and Pacific,EAP,China,CHN,1981,urban,NaN,NaN,NaN,income,...,0.131814,0.171814,NaN,3.905400,1.999498e+08,447.118997,NaN,False,aggregate,survey
4,East Asia and Pacific,EAP,China,CHN,1982,urban,NaN,NaN,NaN,income,...,NaN,NaN,NaN,3.905400,2.108238e+08,480.310474,NaN,True,aggregate,interpolation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6677,East Asia and Pacific,EAP,Indonesia,IDN,2018,national,NaN,NaN,NaN,consumption,...,0.156042,0.293438,NaN,NaN,2.676705e+08,3732.867111,2142.205498,False,micro,survey
6678,South Asia,SAS,India,IND,2018,national,NaN,NaN,NaN,consumption,...,0.142784,0.301427,NaN,NaN,1.352642e+09,1890.759172,993.417519,True,micro,extrapolation
6679,East Asia and Pacific,EAP,China,CHN,2019,national,NaN,NaN,NaN,consumption,...,0.158389,0.294964,NaN,NaN,1.407745e+09,10155.417556,4112.405794,False,aggregate,survey
6680,East Asia and Pacific,EAP,Indonesia,IDN,2019,national,NaN,NaN,NaN,consumption,...,0.154198,0.289178,NaN,NaN,2.706256e+08,3877.382977,2228.159630,False,micro,survey
6681,South Asia,SAS,India,IND,2019,national,NaN,NaN,NaN,consumption,...,0.142784,0.301427,NaN,NaN,1.366418e+09,1958.427183,1026.361471,True,micro,extrapolation

In [46]:
file = Path('pip.csv')
pip_old = pd.read_csv(file)

In [54]:
hola = pd.merge(pip_old, pip, how='left', on=['country_code', 'reporting_year', 'reporting_level', 'welfare_type'], indicator=True)
hola['_merge'].unique()

['both', 'left_only']
Categories (3, object): ['left_only', 'right_only', 'both']

In [55]:
hola.columns

Index(['Unnamed: 0', 'region_name_x', 'region_code_x', 'country_name_x',
       'country_code', 'reporting_year', 'reporting_level', 'survey_acronym_x',
       'survey_coverage_x', 'survey_year_x', 'welfare_type',
       'survey_comparability_x', 'comparable_spell_x', 'poverty_line_x',
       'headcount_x', 'poverty_gap_x', 'poverty_severity_x', 'watts_x',
       'mean_x', 'median_x', 'mld_x', 'gini_x', 'polarization_x', 'decile1_x',
       'decile2_x', 'decile3_x', 'decile4_x', 'decile5_x', 'decile6_x',
       'decile7_x', 'decile8_x', 'decile9_x', 'decile10_x', 'cpi_x', 'ppp_x',
       'reporting_pop_x', 'reporting_gdp_x', 'reporting_pce_x',
       'is_interpolated_x', 'distribution_type_x', 'estimation_type_x',
       'region_name_y', 'region_code_y', 'country_name_y', 'survey_acronym_y',
       'survey_coverage_y', 'survey_year_y', 'survey_comparability_y',
       'comparable_spell_y', 'poverty_line_y', 'headcount_y', 'poverty_gap_y',
       'poverty_severity_y', 'watts_y', 'mean_y', 'median_y', 'mld_y',
       'gini_y', 'polarization_y', 'decile1_y', 'decile2_y', 'decile3_y',
       'decile4_y', 'decile5_y', 'decile6_y', 'decile7_y', 'decile8_y',
       'decile9_y', 'decile10_y', 'cpi_y', 'ppp_y', 'reporting_pop_y',
       'reporting_gdp_y', 'reporting_pce_y', 'is_interpolated_y',
       'distribution_type_y', 'estimation_type_y', '_merge'],
      dtype='object')

In [56]:
hola[hola['_merge']=='left_only']

,Unnamed: 0,region_name_x,region_code_x,country_name_x,country_code,reporting_year,reporting_level,survey_acronym_x,survey_coverage_x,survey_year_x,...,decile10_y,cpi_y,ppp_y,reporting_pop_y,reporting_gdp_y,reporting_pce_y,is_interpolated_y,distribution_type_y,estimation_type_y,_merge
802,802,East Asia and Pacific,EAP,Samoa,WSM,1981,national,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6156,6156,Sub-Saharan Africa,SSA,Somalia,SOM,2011,national,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [57]:
hola[hola['_merge']=='right_only']

Empty DataFrame
Columns: [Unnamed: 0, region_name_x, region_code_x, country_name_x, country_code, reporting_year, reporting_level, survey_acronym_x, survey_coverage_x, survey_year_x, welfare_type, survey_comparability_x, comparable_spell_x, poverty_line_x, headcount_x, poverty_gap_x, poverty_severity_x, watts_x, mean_x, median_x, mld_x, gini_x, polarization_x, decile1_x, decile2_x, decile3_x, decile4_x, decile5_x, decile6_x, decile7_x, decile8_x, decile9_x, decile10_x, cpi_x, ppp_x, reporting_pop_x, reporting_gdp_x, reporting_pce_x, is_interpolated_x, distribution_type_x, estimation_type_x, region_name_y, region_code_y, country_name_y, survey_acronym_y, survey_coverage_y, survey_year_y, survey_comparability_y, comparable_spell_y, poverty_line_y, headcount_y, poverty_gap_y, poverty_severity_y, watts_y, mean_y, median_y, mld_y, gini_y, polarization_y, decile1_y, decile2_y, decile3_y, decile4_y, decile5_y, decile6_y, decile7_y, decile8_y, decile9_y, decile10_y, cpi_y, ppp_y, reporting_pop_y, reporting_gdp_y, reporting_pce_y, is_interpolated_y, distribution_type_y, estimation_type_y, _merge]
Index: []

[0 rows x 78 columns]

In [51]:
hola[hola['_merge'].isnull()]

Empty DataFrame
Columns: [region_name_x, region_code_x, country_name_x, country_code, reporting_year, reporting_level, survey_acronym_x, survey_coverage_x, survey_year_x, welfare_type, survey_comparability_x, comparable_spell_x, poverty_line_x, headcount_x, poverty_gap_x, poverty_severity_x, watts_x, mean_x, median_x, mld_x, gini_x, polarization_x, decile1_x, decile2_x, decile3_x, decile4_x, decile5_x, decile6_x, decile7_x, decile8_x, decile9_x, decile10_x, cpi_x, ppp_x, reporting_pop_x, reporting_gdp_x, reporting_pce_x, is_interpolated_x, distribution_type_x, estimation_type_x, Unnamed: 0, region_name_y, region_code_y, country_name_y, survey_acronym_y, survey_coverage_y, survey_year_y, survey_comparability_y, comparable_spell_y, poverty_line_y, headcount_y, poverty_gap_y, poverty_severity_y, watts_y, mean_y, median_y, mld_y, gini_y, polarization_y, decile1_y, decile2_y, decile3_y, decile4_y, decile5_y, decile6_y, decile7_y, decile8_y, decile9_y, decile10_y, cpi_y, ppp_y, reporting_pop_y, reporting_gdp_y, reporting_pce_y, is_interpolated_y, distribution_type_y, estimation_type_y, _merge]
Index: []

[0 rows x 78 columns]

In [52]:
hola.to_csv('hola_merge.csv')

In [20]:
pip.to_csv('pip_new.csv')

In [6]:
pip.columns

Index(['region_name', 'region_code', 'country_name', 'country_code',
       'reporting_year', 'reporting_level', 'survey_acronym',
       'survey_coverage', 'survey_year', 'welfare_type',
       'survey_comparability', 'comparable_spell', 'poverty_line', 'headcount',
       'poverty_gap', 'poverty_severity', 'watts', 'mean', 'median', 'mld',
       'gini', 'polarization', 'decile1', 'decile2', 'decile3', 'decile4',
       'decile5', 'decile6', 'decile7', 'decile8', 'decile9', 'decile10',
       'cpi', 'ppp', 'reporting_pop', 'reporting_gdp', 'reporting_pce',
       'is_interpolated', 'distribution_type', 'estimation_type'],
      dtype='object')

https://worldbank.github.io/PIP-Methodology/

https://wid.world/gpinter/

In [9]:
np.arange(0,200.1,0.1)

array([0.000e+00, 1.000e-01, 2.000e-01, ..., 1.998e+02, 1.999e+02,
       2.000e+02])

In [510]:
pip_complete = pd.DataFrame()

for i in np.arange(0,200.1,0.1):
    country = "all" #ISO3 codes
    year = "all" #YYYY
    povline = i #Number, dollars
    formatfile = "csv" #json, csv, rds
    fill_gaps = "true" #Interpolate/extrapolate, boolean
    welfare_type = "all" #Welfare measure: all, consumption, income
    reporting_level = "all" #Reporting coverage: all, national, rural, urban
    #popshare = 0.1 #Proportion of the population living below the poverty line. Will be ignored if povline is specified

    #version #pip/v1/versions defaults to most recent version

    pip_path = "https://api.worldbank.org/pip/v1/pip?" + "country=" + country + "&year=" + year + "&povline=" + str(povline) + "&format=" + formatfile + "&fill_gaps=" + fill_gaps + "&welfare_type=" + welfare_type + "&reporting_level=" + reporting_level #+ "&popshare=" + str(popshare)
    #pip_path = "https://api.worldbank.org/pip/v1/pip?country=all&year=all&povline=1.9&format=csv&fill_gaps=true" #orignal version

    pip = pd.read_csv(pip_path)
    pip2['pl_check'] = pip2['poverty_line'] == i
    
    pip_complete = pd.concat([pip_complete, pip], ignore_index=True)

KeyboardInterrupt:

In [560]:
#Example: one country
start_time = time.time()

pip_complete = pd.DataFrame()

for i in np.arange(0,200.1,0.1):
    country = "CHL" #ISO3 codes
    year = "all" #YYYY
    povline = i #Number, dollars
    formatfile = "csv" #json, csv, rds
    fill_gaps = "true" #Interpolate/extrapolate, boolean
    welfare_type = "all" #Welfare measure: all, consumption, income
    reporting_level = "all" #Reporting coverage: all, national, rural, urban
    #popshare = 0.1 #Proportion of the population living below the poverty line. Will be ignored if povline is specified

    #version #pip/v1/versions defaults to most recent version

    pip_path = "https://api.worldbank.org/pip/v1/pip?" + "country=" + country + "&year=" + year + "&povline=" + str(povline) + "&format=" + formatfile + "&fill_gaps=" + fill_gaps + "&welfare_type=" + welfare_type + "&reporting_level=" + reporting_level #+ "&popshare=" + str(popshare)
    #pip_path = "https://api.worldbank.org/pip/v1/pip?country=all&year=all&povline=1.9&format=csv&fill_gaps=true" #orignal version

    pip = pd.read_csv(pip_path)
    pip2['pl_check'] = pip2['poverty_line'] == i
    
    pip_complete = pd.concat([pip_complete, pip], ignore_index=True)
    
print("--- %s seconds ---" % (time.time() - start_time)) #Printing the running time

--- 3613.6979591846466 seconds ---

In [561]:
pip_complete_path = Path('data/pipchile.csv')
pip_complete.to_csv(pip_complete_path, index=False)

pip_complete_path = Path('data/pipchile.dta')
pip_complete.to_stata(pip_complete_path, write_index=False)

In [ ]:
pip_complete_path = Path('data/pip.csv')
pip_complete.to_csv(pip_complete_path, index=False)

In [ ]:
pip_complete_path = Path('data/pip.dta')
pip_complete.to_stata(pip_complete_path, write_index=False)

## Consistency test
PovcalNet used to show different results from the input. This is checked here with PIP. The same file is generated 20 times:

In [539]:
start_time = time.time()

for i in range(1,21):

    country = "all" #ISO3 codes
    year = "all" #YYYY
    povline = 7.23 #Number, dollars
    formatfile = "csv" #json, csv, rds
    fill_gaps = "true" #Interpolate/extrapolate, boolean
    welfare_type = "all" #Welfare measure: all, consumption, income
    reporting_level = "all" #Reporting coverage: all, national, rural, urban
    #popshare = 0.1 #Proportion of the population living below the poverty line. Will be ignored if povline is specified

    #version #pip/v1/versions defaults to most recent version

    pip_path = "https://api.worldbank.org/pip/v1/pip?" + "country=" + country + "&year=" + year + "&povline=" + str(povline) + "&format=" + formatfile + "&fill_gaps=" + fill_gaps + "&welfare_type=" + welfare_type + "&reporting_level=" + reporting_level #+ "&popshare=" + str(popshare)
    #pip_path = "https://api.worldbank.org/pip/v1/pip?country=all&year=all&povline=1.9&format=csv&fill_gaps=true" #orignal version

    pip = pd.read_csv(pip_path)
    pip['pl_check'] = pip['poverty_line'] == povline
    
    Path('consistency_test/').mkdir(parents=True, exist_ok=True)
    folder = Path('consistency_test/')
    filename = 'pip' + str(i) + '.csv'
    file = folder / filename
    
    pip.to_csv(file, index=False)
    
print("--- %s seconds ---" % (time.time() - start_time)) #Printing the running time

--- 63.452796936035156 seconds ---

The 20 files are loaded:

In [540]:
file = [Path('consistency_test/pip1.csv'),
       Path('consistency_test/pip2.csv'),
       Path('consistency_test/pip3.csv'),
       Path('consistency_test/pip4.csv'),
       Path('consistency_test/pip5.csv'),
       Path('consistency_test/pip6.csv'),
       Path('consistency_test/pip7.csv'),
       Path('consistency_test/pip8.csv'),
       Path('consistency_test/pip9.csv'),
       Path('consistency_test/pip10.csv'),
       Path('consistency_test/pip11.csv'),
       Path('consistency_test/pip12.csv'),
       Path('consistency_test/pip13.csv'),
       Path('consistency_test/pip14.csv'),
       Path('consistency_test/pip15.csv'),
       Path('consistency_test/pip16.csv'),
       Path('consistency_test/pip17.csv'),
       Path('consistency_test/pip18.csv'),
       Path('consistency_test/pip19.csv'),
       Path('consistency_test/pip20.csv')]

pip1,pip2,pip3,pip4,pip5,pip6,pip7,pip8,pip9,pip10,pip11,pip12,pip13,pip14,pip15,pip16,pip17,pip18,pip19,pip20 = [pd.read_csv(i) for i in file]

And these 20 files are compared in pairs. If there is a dataframe generated with the difference it means not all the files are the same. It has not been the case with PIP.

In [541]:
pip1.compare(pip2)

Empty DataFrame
Columns: []
Index: []

In [542]:
pip2.compare(pip3)

Empty DataFrame
Columns: []
Index: []

In [543]:
pip3.compare(pip4)

Empty DataFrame
Columns: []
Index: []

In [544]:
pip4.compare(pip5)

Empty DataFrame
Columns: []
Index: []

In [545]:
pip5.compare(pip6)

Empty DataFrame
Columns: []
Index: []

In [546]:
pip6.compare(pip7)

Empty DataFrame
Columns: []
Index: []

In [547]:
pip7.compare(pip8)

Empty DataFrame
Columns: []
Index: []

In [548]:
pip8.compare(pip9)

Empty DataFrame
Columns: []
Index: []

In [549]:
pip9.compare(pip10)

Empty DataFrame
Columns: []
Index: []

In [550]:
pip10.compare(pip11)

Empty DataFrame
Columns: []
Index: []

In [551]:
pip11.compare(pip12)

Empty DataFrame
Columns: []
Index: []

In [552]:
pip12.compare(pip13)

Empty DataFrame
Columns: []
Index: []

In [553]:
pip13.compare(pip14)

Empty DataFrame
Columns: []
Index: []

In [554]:
pip14.compare(pip15)

Empty DataFrame
Columns: []
Index: []

In [555]:
pip15.compare(pip16)

Empty DataFrame
Columns: []
Index: []

In [556]:
pip16.compare(pip17)

Empty DataFrame
Columns: []
Index: []

In [557]:
pip17.compare(pip18)

Empty DataFrame
Columns: []
Index: []

In [558]:
pip18.compare(pip19)

Empty DataFrame
Columns: []
Index: []

In [559]:
pip19.compare(pip20)

Empty DataFrame
Columns: []
Index: []