# Poverty and inequality datasets from PIP, WID and LIS

In [3]:
import pandas as pd
import numpy as np
from pathlib import Path
import plotly.express as px
import plotly.io as pio

In [2]:
country = "all" #ISO3 codes
year = "all" #YYYY
povline = 7.23 #Number, dollars
formatfile = "csv" #json, csv, rds
fill_gaps = "true" #Interpolate/extrapolate, boolean
welfare_type = "all" #Welfare measure: all, consumption, income
reporting_level = "all" #Reporting coverage: all, national, rural, urban
#popshare = 0.1 #Proportion of the population living below the poverty line. Will be ignored if povline is specified

#version #pip/v1/versions defaults to most recent version

pip_path = "https://api.worldbank.org/pip/v1/pip?" + "country=" + country + "&year=" + year + "&povline=" + str(povline) + "&format=" + formatfile + "&fill_gaps=" + fill_gaps + "&welfare_type=" + welfare_type + "&reporting_level=" + reporting_level #+ "&popshare=" + str(popshare)
#pip_path = "https://api.worldbank.org/pip/v1/pip?country=all&year=all&povline=1.9&format=csv&fill_gaps=true" #orignal version

pip = pd.read_csv(pip_path)

In [20]:
country = "all" #ISO3 codes
year = "all" #YYYY
povline = 7.23 #Number, dollars
formatfile = "csv" #json, csv, rds
fill_gaps = "true" #Interpolate/extrapolate, boolean
welfare_type = "all" #Welfare measure: all, consumption, income
reporting_level = "all" #Reporting coverage: all, national, rural, urban
#popshare = 0.1 #Proportion of the population living below the poverty line. Will be ignored if povline is specified

#version #pip/v1/versions defaults to most recent version

pip_path = "https://api.worldbank.org/pip/v1/pip?" + "country=" + country + "&year=" + year + "&povline=" + str(povline) + "&format=" + formatfile + "&fill_gaps=" + fill_gaps + "&welfare_type=" + welfare_type + "&reporting_level=" + reporting_level #+ "&popshare=" + str(popshare)
#pip_path = "https://api.worldbank.org/pip/v1/pip?country=all&year=all&povline=1.9&format=csv&fill_gaps=true" #orignal version

pip2 = pd.read_csv(pip_path)
pip2['pl_check'] = pip2['poverty_line'] == povline

In [22]:
diff = pip2[~pip2['pl_check']].copy().reset_index(drop=True)
diff[['poverty_line', 'pl_check']]

     poverty_line  pl_check
0            7.23     False
1            7.23     False
2            7.23     False
3            7.23     False
4            7.23     False
..            ...       ...
737          7.23     False
738          7.23     False
739          7.23     False
740          7.23     False
741          7.23     False

[742 rows x 2 columns]

In [24]:
diff.to_excel('diff.xlsx')

In [25]:
pip2.to_excel('pip2.xlsx')

In [26]:
pip2.dtypes

region_name              object
region_code              object
country_name             object
country_code             object
reporting_year            int64
reporting_level          object
survey_acronym          float64
survey_coverage         float64
survey_year             float64
welfare_type             object
survey_comparability    float64
comparable_spell        float64
poverty_line            float64
headcount               float64
poverty_gap             float64
poverty_severity        float64
watts                   float64
mean                    float64
median                  float64
mld                     float64
gini                    float64
polarization            float64
decile1                 float64
decile2                 float64
decile3                 float64
decile4                 float64
decile5                 float64
decile6                 float64
decile7                 float64
decile8                 float64
decile9                 float64
decile10                float64
cpi                     float64
ppp                     float64
reporting_pop           float64
reporting_gdp           float64
reporting_pce           float64
is_interpolated            bool
distribution_type        object
estimation_type          object
pl_check                   bool
dtype: object

In [ ]:
pip.compare(pip2)

In [5]:
pip

,region_name,region_code,country_name,country_code,reporting_year,reporting_level,survey_acronym,survey_coverage,survey_year,welfare_type,...,decile9,decile10,cpi,ppp,reporting_pop,reporting_gdp,reporting_pce,is_interpolated,distribution_type,estimation_type
0,East Asia and Pacific,EAP,China,CHN,1981,rural,NaN,NaN,NaN,income,...,0.141663,0.205191,NaN,3.039222,7.939352e+08,447.118997,NaN,False,aggregate,survey
1,East Asia and Pacific,EAP,China,CHN,1982,rural,NaN,NaN,NaN,income,...,NaN,NaN,NaN,3.039222,7.978062e+08,480.310474,NaN,True,aggregate,interpolation
2,East Asia and Pacific,EAP,China,CHN,1983,rural,NaN,NaN,NaN,income,...,NaN,NaN,NaN,3.039222,8.028379e+08,524.408437,NaN,True,aggregate,interpolation
3,East Asia and Pacific,EAP,China,CHN,1981,urban,NaN,NaN,NaN,income,...,0.131814,0.171814,NaN,3.905400,1.999498e+08,447.118997,NaN,False,aggregate,survey
4,East Asia and Pacific,EAP,China,CHN,1982,urban,NaN,NaN,NaN,income,...,NaN,NaN,NaN,3.905400,2.108238e+08,480.310474,NaN,True,aggregate,interpolation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6679,East Asia and Pacific,EAP,Indonesia,IDN,2018,national,NaN,NaN,NaN,consumption,...,0.156042,0.293438,NaN,NaN,2.676705e+08,3732.867111,2142.205498,False,micro,survey
6680,South Asia,SAS,India,IND,2018,national,NaN,NaN,NaN,consumption,...,0.142784,0.301427,NaN,NaN,1.352642e+09,1890.759172,1040.229347,True,micro,extrapolation
6681,East Asia and Pacific,EAP,China,CHN,2019,national,NaN,NaN,NaN,consumption,...,0.158389,0.294964,NaN,NaN,1.407745e+09,10155.417556,4112.405794,False,aggregate,survey
6682,East Asia and Pacific,EAP,Indonesia,IDN,2019,national,NaN,NaN,NaN,consumption,...,0.154198,0.289178,NaN,NaN,2.706256e+08,3877.382977,2228.159630,False,micro,survey
6683,South Asia,SAS,India,IND,2019,national,NaN,NaN,NaN,consumption,...,0.142784,0.301427,NaN,NaN,1.366418e+09,1958.427183,1069.644299,True,micro,extrapolation

In [6]:
pip.columns

Index(['region_name', 'region_code', 'country_name', 'country_code',
       'reporting_year', 'reporting_level', 'survey_acronym',
       'survey_coverage', 'survey_year', 'welfare_type',
       'survey_comparability', 'comparable_spell', 'poverty_line', 'headcount',
       'poverty_gap', 'poverty_severity', 'watts', 'mean', 'median', 'mld',
       'gini', 'polarization', 'decile1', 'decile2', 'decile3', 'decile4',
       'decile5', 'decile6', 'decile7', 'decile8', 'decile9', 'decile10',
       'cpi', 'ppp', 'reporting_pop', 'reporting_gdp', 'reporting_pce',
       'is_interpolated', 'distribution_type', 'estimation_type'],
      dtype='object')

https://worldbank.github.io/PIP-Methodology/

https://wid.world/gpinter/

In [7]:
pip.to_csv('pip.csv')
pip2.to_csv('pip2.csv')

In [9]:
np.arange(0,200.1,0.1)

array([0.000e+00, 1.000e-01, 2.000e-01, ..., 1.998e+02, 1.999e+02,
       2.000e+02])

In [ ]:
pip_complete = pd.DataFrame()

for i in np.arange(0,200.1,0.1):
    country = "all" #ISO3 codes
    year = "all" #YYYY
    povline = i #Number, dollars
    formatfile = "csv" #json, csv, rds
    fill_gaps = "true" #Interpolate/extrapolate, boolean
    welfare_type = "all" #Welfare measure: all, consumption, income
    reporting_level = "all" #Reporting coverage: all, national, rural, urban
    #popshare = 0.1 #Proportion of the population living below the poverty line. Will be ignored if povline is specified

    #version #pip/v1/versions defaults to most recent version

    pip_path = "https://api.worldbank.org/pip/v1/pip?" + "country=" + country + "&year=" + year + "&povline=" + str(povline) + "&format=" + formatfile + "&fill_gaps=" + fill_gaps + "&welfare_type=" + welfare_type + "&reporting_level=" + reporting_level #+ "&popshare=" + str(popshare)
    #pip_path = "https://api.worldbank.org/pip/v1/pip?country=all&year=all&povline=1.9&format=csv&fill_gaps=true" #orignal version

    pip = pd.read_csv(pip_path)
    pip2['pl_check'] = pip2['poverty_line'] == i
    
    pip_complete = pd.concat([pip_complete, pip], ignore_index=True)

In [ ]:
pip_complete_path = Path('data/pip.csv')
pip_complete.to_csv(pip_complete_path, index=False)

In [ ]:
pip_complete_path = Path('data/pip.dta')
pip_complete.to_stata(pip_complete_path, write_index=False)

## Consistency test
PovcalNet used to show different results from the input. This is checked here with PIP. The same file is generated 20 times:

In [489]:
for i in range(1,21):

    country = "all" #ISO3 codes
    year = "all" #YYYY
    povline = 7.23 #Number, dollars
    formatfile = "csv" #json, csv, rds
    fill_gaps = "true" #Interpolate/extrapolate, boolean
    welfare_type = "all" #Welfare measure: all, consumption, income
    reporting_level = "all" #Reporting coverage: all, national, rural, urban
    #popshare = 0.1 #Proportion of the population living below the poverty line. Will be ignored if povline is specified

    #version #pip/v1/versions defaults to most recent version

    pip_path = "https://api.worldbank.org/pip/v1/pip?" + "country=" + country + "&year=" + year + "&povline=" + str(povline) + "&format=" + formatfile + "&fill_gaps=" + fill_gaps + "&welfare_type=" + welfare_type + "&reporting_level=" + reporting_level #+ "&popshare=" + str(popshare)
    #pip_path = "https://api.worldbank.org/pip/v1/pip?country=all&year=all&povline=1.9&format=csv&fill_gaps=true" #orignal version

    pip = pd.read_csv(pip_path)
    pip['pl_check'] = pip['poverty_line'] == povline
    
    Path('consistency_test/').mkdir(parents=True, exist_ok=True)
    folder = Path('consistency_test/')
    filename = 'pip' + str(i) + '.csv'
    file = folder / filename
    
    pip.to_csv(file, index=False)

The 20 files are loaded:

In [490]:
file = [Path('consistency_test/pip1.csv'),
       Path('consistency_test/pip2.csv'),
       Path('consistency_test/pip3.csv'),
       Path('consistency_test/pip4.csv'),
       Path('consistency_test/pip5.csv'),
       Path('consistency_test/pip6.csv'),
       Path('consistency_test/pip7.csv'),
       Path('consistency_test/pip8.csv'),
       Path('consistency_test/pip9.csv'),
       Path('consistency_test/pip10.csv'),
       Path('consistency_test/pip11.csv'),
       Path('consistency_test/pip12.csv'),
       Path('consistency_test/pip13.csv'),
       Path('consistency_test/pip14.csv'),
       Path('consistency_test/pip15.csv'),
       Path('consistency_test/pip16.csv'),
       Path('consistency_test/pip17.csv'),
       Path('consistency_test/pip18.csv'),
       Path('consistency_test/pip19.csv'),
       Path('consistency_test/pip20.csv')]

pip1,pip2,pip3,pip4,pip5,pip6,pip7,pip8,pip9,pip10,pip11,pip12,pip13,pip14,pip15,pip16,pip17,pip18,pip19,pip20 = [pd.read_csv(i) for i in file]

And these 20 files are compared in pairs. If there is a dataframe generated with the difference it means not all the files are the same. It has not been the case with PIP.

In [491]:
pip1.compare(pip2)

Empty DataFrame
Columns: []
Index: []

In [492]:
pip2.compare(pip3)

Empty DataFrame
Columns: []
Index: []

In [493]:
pip3.compare(pip4)

Empty DataFrame
Columns: []
Index: []

In [494]:
pip4.compare(pip5)

Empty DataFrame
Columns: []
Index: []

In [495]:
pip5.compare(pip6)

Empty DataFrame
Columns: []
Index: []

In [496]:
pip6.compare(pip7)

Empty DataFrame
Columns: []
Index: []

In [497]:
pip7.compare(pip8)

Empty DataFrame
Columns: []
Index: []

In [498]:
pip8.compare(pip9)

Empty DataFrame
Columns: []
Index: []

In [499]:
pip9.compare(pip10)

Empty DataFrame
Columns: []
Index: []

In [500]:
pip10.compare(pip11)

Empty DataFrame
Columns: []
Index: []

In [501]:
pip11.compare(pip12)

Empty DataFrame
Columns: []
Index: []

In [502]:
pip12.compare(pip13)

Empty DataFrame
Columns: []
Index: []

In [503]:
pip13.compare(pip14)

Empty DataFrame
Columns: []
Index: []

In [504]:
pip14.compare(pip15)

Empty DataFrame
Columns: []
Index: []

In [505]:
pip15.compare(pip16)

Empty DataFrame
Columns: []
Index: []

In [506]:
pip16.compare(pip17)

Empty DataFrame
Columns: []
Index: []

In [507]:
pip17.compare(pip18)

Empty DataFrame
Columns: []
Index: []

In [508]:
pip18.compare(pip19)

Empty DataFrame
Columns: []
Index: []

In [509]:
pip19.compare(pip20)

Empty DataFrame
Columns: []
Index: []