In [44]:
import pandas as pd

In [45]:
# Import data on Armed forces personnel from World Bank World Development Indicators
# Source: http://databank.worldbank.org/data/download/WDI_csv.zip
# File: WDIData.csv
# Metrics: "Armed forces personnel, total"
armed_forces = pd.read_csv("inputs/armed-forces-personnel.csv", encoding="latin1")

In [46]:
# Import population data from our Our World in Data population dataset
# URL: https://ourworldindata.org/grapher/population
population = pd.read_csv("inputs/population.csv", encoding="latin1")

In [47]:
armed_forces = pd.merge(armed_forces, population)

In [48]:
armed_forces["armed_forces_share_population"] = armed_forces["Armed forces personnel, total"] / armed_forces["Population (historical estimates)"] * 100

In [49]:
armed_forces

,Entity,Year,"Armed forces personnel, total",Population (historical estimates),armed_forces_share_population
0,Afghanistan,1985,47000,11938204,0.393694
1,Afghanistan,1989,55000,11868873,0.463397
2,Afghanistan,1990,58000,12412311,0.467278
3,Afghanistan,1991,45000,13299016,0.338371
4,Afghanistan,1992,45000,14485543,0.310655
...,...,...,...,...,...
5073,Zimbabwe,2014,50800,13586710,0.373895
5074,Zimbabwe,2015,50800,13814642,0.367726
5075,Zimbabwe,2016,50800,14030338,0.362073
5076,Zimbabwe,2017,51000,14236599,0.358232
5077,Zimbabwe,2018,51000,14438812,0.353215

In [50]:
armed_forces = armed_forces.drop(columns=["Armed forces personnel, total", "Population (historical estimates)"])

In [51]:
armed_forces.to_csv("output/Armed forces as share of population (OWID based on World Bank).csv", index=False)