In [84]:
import pandas as pd

In [85]:
countries = pd.read_csv("inputs/countries.csv")

In [86]:
nox = pd.read_csv("inputs/nox.csv")
nox = nox.drop(columns=["em", "units"])
nox = nox.melt(id_vars=["country"],
               var_name="Year",
               value_name="nox")
nox["Year"] = nox["Year"].str.replace('X', '')
nox["nox"] = nox["nox"] * 1000

In [87]:
so2 = pd.read_csv("inputs/so2.csv")
so2 = so2.drop(columns=["em", "units"])
so2 = so2.melt(id_vars=["country"],
               var_name="Year",
               value_name="so2")
so2["Year"] = so2["Year"].str.replace('X', '')
so2["so2"] = so2["so2"] * 1000

In [88]:
co = pd.read_csv("inputs/co.csv")
co = co.drop(columns=["em", "units"])
co = co.melt(id_vars=["country"],
               var_name="Year",
               value_name="co")
co["Year"] = co["Year"].str.replace('X', '')
co["co"] = co["co"] * 1000

In [89]:
oc = pd.read_csv("inputs/oc.csv")
oc = oc.drop(columns=["em", "units"])
oc = oc.melt(id_vars=["country"],
               var_name="Year",
               value_name="oc")
oc["Year"] = oc["Year"].str.replace('X', '')
oc["oc"] = oc["oc"] * 1000

In [90]:
nmvoc = pd.read_csv("inputs/nmvoc.csv")
nmvoc = nmvoc.drop(columns=["em", "units"])
nmvoc = nmvoc.melt(id_vars=["country"],
               var_name="Year",
               value_name="nmvoc")
nmvoc["Year"] = nmvoc["Year"].str.replace('X', '')
nmvoc["nmvoc"] = nmvoc["nmvoc"] * 1000

In [91]:
bc = pd.read_csv("inputs/bc.csv")
bc = bc.drop(columns=["em", "units"])
bc = bc.melt(id_vars=["country"],
               var_name="Year",
               value_name="bc")
bc["Year"] = bc["Year"].str.replace('X', '')
bc["bc"] = bc["bc"] * 1000

In [92]:
nh3 = pd.read_csv("inputs/nh3.csv")
nh3 = nh3.drop(columns=["em", "units"])
nh3 = nh3.melt(id_vars=["country"],
               var_name="Year",
               value_name="nh3")
nh3["Year"] = nh3["Year"].str.replace('X', '')
nh3["nh3"] = nh3["nh3"] * 1000

In [93]:
combined = pd.merge(nox, so2)
combined = pd.merge(combined, co)
combined = pd.merge(combined, oc)
combined = pd.merge(combined, nmvoc)
combined = pd.merge(combined, bc)
combined = pd.merge(combined, nh3)

In [94]:
combined = pd.merge(combined, countries)

In [95]:
combined = combined.drop(columns=["country"])

In [96]:
combined = combined[ ["Entity"] + [ col for col in combined.columns if col != "Entity" ] ]

In [97]:
combined.to_csv("output/Air pollution emissions (CEDS, 2022).csv", index=False)