# World Inequality Database

The [World Inequality Database (WID.world)](https://wid.world/wid-world/) aims to provide open and convenient access to the most extensive available database on the historical evolution of the world distribution of income and wealth, both within countries and between countries. The dataset addresses some of the main limitations household surveys produce in national statistics of this kind: under-coverage at the top of the distribution due to non-response (the richest tend to not answer this kind of surveys or omit their income) or measurement error (the richest underreport their income for convenience or not actually knowing an exact figure if all their activities are added). The problem is handled with the combination of fiscal and national accounts data along household surveys based on the work of the leading researchers in the area: Anthony B. Atkinson, Thomas Piketty, Emmanuel Saez, Facundo Alvaredo, Gabriel Zucman, and hundreds of others. The initiative is based in the Paris School of Economics (as the [World Inequality Lab](https://inequalitylab.world/)) and compiles the World Inequality Report, a yearly publication about how inequality has evolved until the last year.

Besides income and wealth distribution data, the WID has recently added carbon emissions to generate carbon inequality indices. It also offers decomposed stats on national income. The data can be obtained from the website and by R and Stata commands.

## Distributions considered in this analysis

Three income distributions are considered, coming in three different csv files:
- **wid_pretax_992j_dist.csv** is the pretax income distribution `ptinc`, which includes social insurance benefits (and remove corresponding contributions), but exclude other forms of redistribution (income tax, social assistance benefits, etc.).
- **wid_posttax_nat_992j_dist.csv** is the post-tax national income distribution `diinc`, which includes both in-kind and in-cash redistribution.
- **wid_posttax_dis_992j_dist.csv** is the post-tax disposable income distribution `cainc`, which excludes in-kind transfers (because the distribution of in-kind transfers requires a lot of assumptions).

All of these distributions are generated using equal-split adults (j) as the population unit, meaning that the unit is the individual, but that income or wealth is distributed equally among all household members. The age group is individuals over age 20 (adult population), which excludes children (with 0 income in most of the cases). Extrapolations and interpolations are excluded from these files, as WID discourages its use at the level of individual countries (see the `exclude` description at `help wid` in Stata). More information about the variables and definitions can be found on [WID's codes dictionary](https://wid.world/codes-dictionary/).

The distributions analysed in this notebook come from commands given in the `wid` function in Stata. These commands are located in the `wid_distribution.do` file from this same folder. Opening the file and pressing the *Execute (do)* button will generate the most recent data from WID. Both `.csv` and `.dta` files are available for analysis.

## Main variables

In [3]:
import pandas as pd
from pathlib import Path
import time

file = Path('wid_pretax_992j_dist.csv')
wid_pretax = pd.read_csv(file)

file = Path('wid_posttax_nat_992j_dist.csv')
wid_posttax_nat = pd.read_csv(file)

file = Path('wid_posttax_dis_992j_dist.csv')
wid_posttax_dis = pd.read_csv(file)

In [5]:
wid_pretax.describe()

,year,p,threshold,average,share,inv_paretolorenz,age
count,712337.000000,712337.000000,5.178770e+05,5.185350e+05,712337.000000,5.505000e+03,712337.0
mean,1997.578781,0.602389,3.737437e+05,4.815420e+05,0.007871,7.566580e+04,992.0
std,17.719600,0.328698,2.108352e+06,3.450155e+06,0.009236,1.180822e+06,0.0
min,1900.000000,0.000000,-1.396364e+05,-6.981829e+04,-0.037000,9.999999e-01,992.0
25%,1989.000000,0.310000,4.489474e+03,5.525011e+03,0.002200,1.423047e+00,992.0
50%,2001.000000,0.630000,1.910922e+04,2.098993e+04,0.005400,1.498587e+00,992.0
75%,2010.000000,0.950000,6.943993e+04,7.812512e+04,0.010200,1.658319e+00,992.0
max,2021.000000,0.999990,3.425009e+08,8.711651e+08,0.341500,3.122023e+07,992.0

In [6]:
wid_posttax_nat.describe()

,year,p,threshold,average,share,inv_paretolorenz,age
count,186563.000000,186563.000000,1.657350e+05,1.657350e+05,186563.000000,1469.000000,186563.0
mean,1998.041525,0.601969,2.844368e+05,3.634187e+05,0.007874,1.991355,992.0
std,16.249010,0.328620,1.227903e+06,2.194219e+06,0.006054,0.581568,0.0
min,1913.000000,0.000000,-2.331180e+07,-5.420606e+05,-0.108200,1.000000,992.0
25%,1989.000000,0.310000,1.865087e+04,1.891693e+04,0.003600,1.600373,992.0
50%,2001.000000,0.630000,3.672336e+04,3.707879e+04,0.007000,1.871296,992.0
75%,2010.000000,0.950000,8.222856e+04,8.423549e+04,0.010700,2.216935,992.0
max,2020.000000,0.999990,6.422674e+07,1.706076e+08,0.061600,6.889863,992.0

In [7]:
wid_posttax_dis.describe()

,year,p,threshold,average,share,inv_paretolorenz,age
count,173101.000000,173101.000000,1.522730e+05,1.522730e+05,173101.000000,1363.000000,173101.0
mean,2000.572267,0.601969,2.172208e+05,2.911043e+05,0.007874,2.167789,992.0
std,11.090193,0.328621,8.370990e+05,1.686922e+06,0.006316,0.596611,0.0
min,1970.000000,0.000000,-1.901357e+07,-4.424091e+05,-0.117900,1.000103,992.0
25%,1991.000000,0.310000,1.386721e+04,1.447416e+04,0.003400,1.687570,992.0
50%,2002.000000,0.630000,2.768616e+04,2.889463e+04,0.006800,2.131961,992.0
75%,2010.000000,0.950000,6.400778e+04,6.884650e+04,0.010800,2.553951,992.0
max,2020.000000,0.999990,5.140730e+07,1.477681e+08,0.066800,7.032377,992.0

## Sanity checks for the income distributions